<h1>Notes#filter</h1>
<p>Find me in app/views/notes/filter.html.erb</p>

<% @note_share.each do |n| %>

  <li> <%= link_to n.title, n %></li>
  <li> <%= link_to n.post, n %></li>
  <li> <%= n.share.try(:code) %></li>
  <li> <%= n.updated_at %></li>





<% end %>
