<h1>Notes#index</h1>
<p>Find me in app/views/notes/index.html.erb</p>

<% @notes.each do |n| %>

  <li> <%= link_to n.title, n %>, <%= n.updated_at %></li>
   <li> <%= link_to n.post, n %></li>
  <li> <%= link_to n.share.try(:code), notes_path %></li> 
  <!-- <li> %= n.updated_at %></li> -->





<% end %>
